<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.png') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">
</head>
<body>
  <div class="back-to-menu">
    <a href="/index" class="back-btn">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="back-icon">
        <path d="m4.431 12.822 13 9A1 1 0 0 0 19 21V3a1 1 0 0 0-1.569-.823l-13 9a1.003 1.003 0 0 0 0 1.645z"></path>
      </svg>
    </a>
  </div>

  <div class="login-wrap">
    <h2>Login</h2>
    <form action="{{ url_for('auth.login') }}" method="post" class="form">
      <input type="text" placeholder="Email" name="email" required />
      <input type="password" placeholder="Password" name="password" required />
      <button type="submit">Sign in</button>
    </form>

    <!-- Flash Messages Section -->
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="flash-messages">
          {% for message in messages %}
            <div class="flash-message">{{ message }}</div>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}
    
    <p>Don't have an account? <a href="{{ url_for('auth.register') }}">Register</a></p>
  </div>
</body>
</html>